*:hover {
    cursor: default;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}

.clockbarholder {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    position: absolute;
    left: 50%;
    top: 50%;
    display: flex;
    width: 70%;
    padding: 0px;
    transform: translate(-50%, -50%);
    background: none;
}

#time-till-end.end {
    text-shadow: 0px 0px 15px rgb(0, 0, 0),
    0px 0px 20px rgb(0, 0, 0),
    0px 0px 195px var(--firstcolor);
}

.clockbarholder p {
    margin: 0;
}

.clockbarholder h1 {
    margin: 0;
}

.clockbarholder h2 {
    margin-bottom: 0;
}

#periodholder{
    display: flex;
    width: fit-content;
    height: fit-content;
}
#lunchholder{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}


.lunchbtn.hoveraffect:hover{
    color: var(--basetext);
    background: var(--firstcolor);
    opacity: .5;
}

.periodcircles {
    color: var(--ptextcolor);
    display: flex;
    text-align: center;
    line-height: 40px;
    justify-content: center;
    align-items: center;
    background: none;
    margin: 5px;
    height: 40px;
    width: 40px;
    border-radius: 25px;
    border: solid 1px #27272a;
    transition: ease-in-out .3s;
}

.periodcircles.boxshadow{
    box-shadow: 0px 0px 10px rgb(0, 0, 0);
}

 
.activecircle {
    background: var(--firstcolor);
    box-shadow: 0px 0px 10px rgb(0, 0, 0), 0px 0px 7px var(--firstcolor);
}

.clockbar {
    display: flex;
    justify-content: flex-start;
    width: 100%;
    height: 30px;
    margin: 0px;
    margin-top: 20px;
    border-radius: 5px;
    background: none;
    border: solid 1px #27272a;
    transition: ease-in-out .3s;
}

.clockbar.boxshadow{
    box-shadow: 0px 0px 10px rgb(0, 0, 0);
}

.clockprogress {
    width: 0%;
    border-radius: 5px;
    background:  var(--firstcolor);
    transition: ease-in-out .3s;
    box-shadow: 0px 0px 3px var(--firstcolor);
}

.clockprogress.boxshadow{
    box-shadow: 0px 0px 7px var(--firstcolor);
}

#clock {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

.lunchbtn{
    width: 40px;
    height: 40px;
    display: inline-block;
    color: var(--ptextcolor);
    justify-content: center;
    align-items: center;
    text-align: center;
    }

@media only screen and (max-width: 700px) {
    .clockbarholder {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        flex-direction: column;
        position: absolute;
        left: 50%;
        top: 50%;
        display: flex;
        width: 90%;
        padding: 0px;
        background: none;
    }
    #time-till-end.end{
        margin-bottom: 30px;
    }
    #periodholder{
        width: 70%;
        flex-wrap: wrap;
        justify-content: center;
        height: fit-content;
    }
    #lunchholder{
        width: 100%;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }

  }

#my-canvas {
    z-index: 100;
    width: 100%;
    height: 100%;
}

.day {
    display: none;
}

.day.active{
    display: flex;
}

.test {
    color: #ffc400;
}

.circlebar {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 4;
}