@import "https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap";
@import "https://fonts.googleapis.com/css2?family=Knewave&display=swap";

* {
    font-family: Roboto Mono, monospace;
    color: var(--basetext);
}

* i {
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}

body {
    margin: 0px;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    top: 0px;
    background: var(--backgroundcolor);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.loader.loadview {
    position: fixed;
    background: var(--backgroundcolor);
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: ease-out .4s;
    z-index: 5;
}

.progresstype {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: 0px;
    margin: 0;
}

.progresstype h3 {
    margin: 10px;
}

.ldBar-label {
    color: #09f;
    font-family: 'varela round';
    font-size: 2.5em;
    font-weight: 900;
    display: none;
}

.ldBar path.mainline {
    stroke-linecap: round;
}

#info.end {
    text-shadow: 0px 0px 15px rgb(0, 0, 0),
        0px 0px 20px rgb(0, 0, 0),
        0px 0px 195px var(--basetext);
}

#progcircle {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.selector {
    border-radius: 20px;
    padding: 5px;
    padding-left: 15px;
    padding-right: 15px;
    width: 30%;
    background: var(--backgroundcolor);
    transition: ease-in-out .3s;
}

.selectoroptions {

    display: flex;
    justify-content: space-around;
}

.selector.no:hover {
    opacity: .5;
    background: var(--firstcolor);
}

.selector.activeselector {
    background: var(--firstcolor);
}

.selector.activeselector:hover {
    background: var(--firstcolor);
}

.loader {
    display: none;
    transition: ease-out .4s;
}

.item {
    height: 10px;
    width: 10px;
    background: var(--firstcolor);
    border-radius: 25px;

}

.item.boxshadow {
    box-shadow: 0px 0px 10px rgb(0, 0, 0);
}

.item1 {
    position: fixed;
    top: 50%;
    transform: translate(-5px, -50%);
    animation: load infinite 2s ease-in-out;
}

@keyframes load {
    0% {
        width: 50%;
        left: 25%;
    }

    25% {
        width: 2%;

    }

    50% {
        width: 50%;
        right: 25%;
    }

    75% {
        width: 2%;

    }

    100% {
        width: 50%;
        right: 25%;
    }
}

.pickerholder {
    position: fixed;
    display: flex;
    flex-direction: column;
    background: black;
    border: solid 1px #27272a;
    width: 350px;
    padding: 10px;
    border-radius: 10px;
    margin: 3px;
    overflow: hidden;
    margin: 20px;
    left: -390px;
    transition: ease-in-out .3s;
}

.pickerholder.boxshadow {
    box-shadow: 0px 0px 10px rgb(0, 0, 0);
}

.pickerholder.active {
    position: fixed;
    display: flex;
    flex-direction: column;
    width: 350px;
    padding: 10px;
    border-radius: 10px;
    margin: 3px;
    overflow: scroll;
    margin: 20px;
    left: 0px;
    transition: ease-in-out .3s;
    overflow: hidden;
}

.currentcolor {
    display: flex;
    background: var(--firstcolor);
    margin-bottom: 10px;
    border-radius: 10px;
    height: 25px;
    transition: ease-in-out .3s;

}

.colorstuff {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.colorcircle {
    width: 30px;
    height: 30px;
    border-radius: 20px;
    margin: 10px;
    opacity: .85;
    transition: ease-in-out .3s;
}

.colorcircle:hover {
    opacity: 1;
    box-shadow: 0px 0px 5px var(--backgroundcolor);
}

.colorholder {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    width: 150px;
    margin-right: 10px;
}

.colorbtn {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 10px;
    position: fixed;
    background: none;
    border: solid 2px #27272a;
    width: 30px;
    height: 40px;
    border-radius: 0px 20px 20px 0px;
    top: 27px;
    left: 0px;
    z-index: 1;
    transition: ease-in-out .3s;
}

.colorbtn.boxshadow {
    box-shadow: 0px 0px 5px rgb(0, 0, 0);
}

.colorbtn:hover {
    width: 40px;
}

.colorbtn.active {
    left: 390px;
    width: 30px;
    transition: ease-in-out .3s;
}

.colorbtn.active:hover {
    width: 40px;
}

.colorbtn i {
    font-size: 28px;
    color: var(--firstcolor);
    transition: ease-in-out .3s;
}

@media only screen and (max-width: 700px) {
    .pickerholder {
        position: fixed;
        display: flex;
        flex-direction: column;
        background: var(--backgroundcolor);
        width: 100vw;
        padding: 0px;
        border-radius: 0px 0px 10px 10px;
        margin: 0px;
        left: 0;
        bottom: 0px;
        transition: ease-in-out .3s;
        translate: 0px 465px;
        overflow: hidden;
    }

    .pickerholder.active {
        position: fixed;
        display: flex;
        flex-direction: column;
        background: var(--backgroundcolor);
        width: 100vw;
        padding: 0px;
        border-radius: 10px 10px 0px 0px;
        margin: 0px;
        left: 0;
        bottom: 0px;
        transition: ease-in-out .3s;
        translate: 0px 0px;
        overflow: hidden;
    }

    .colorbtn {
        transition: ease-in-out .3s;
        top: unset;
        left: unset;
        bottom: 5px;
        right: 5px;
        width: 40px;
        height: 40px;
        border-radius: 25px;
        justify-content: center;
        padding: 3px;
    }

    .colorbtn.active {
        transition: ease-in-out .3s;
        top: unset;
        left: unset;
        bottom: 360px;
        right: 5px;
        width: 40px;
        height: 40px;
        border-radius: 25px;
        justify-content: center;
        padding: 3px;
    }

    .colorbtn:hover {
        width: 40px;
    }

    .selector {
        display: flex;
        text-align: center;
        vertical-align: middle;
        line-height: 40px;
        justify-content: center;
        align-items: center;
        width: 40%;
        height: 40px;
        margin-bottom: 20px;
        font-size: 20px;
    }
}

.img-type {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.selectoroptions{
    width: 100%;
}

.back {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    width: 100%; 
    height: 30px;
    margin: 10px;
    transition: ease-in-out .3s;
    background: var(--backgroundcolor);
}

.back:hover {
    opacity: .5;
    background: var(--firstcolor);
}

.activeback {
    background: var(--firstcolor);
}